*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

maxWidth{
    width: 1300px;
    margin: auto;
}

html, body{
    height: 100%;
}

/* ================ */
/* ===== MENU ===== */
/* ================ */

nav#menu {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav#menu ul {
    display: flex;
}

nav#menu li {
    margin: 0 20px; 
    height: 100%;
}

nav#menu li a {
    color: white;
    height: 100%;
}

nav#menu li a:hover:not(.active) {
    background-color: rgba(76, 175, 80,0.6);
}

nav#menu .active {
    background-color: rgba(76, 175, 80,0.6);;
}

/* ================= */
/* ===== INDEX ===== */
/* ================= */

/* ===== Estados Index ===== */

section.contentIndex{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav.estadosIndex{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: red;
}

nav.estadosIndex ul li{
    margin: 20px 0;
}


/******templateCandidato.html*******/
/***********************************/

#main {
            border-collapse: collapse;
            width: 50%;
            margin: auto;
            text-align: left;
            background: rgba(76, 175, 80,0.6);
            min-height: auto;
        }

#main img{
    float: right;
}
/******sobre.html***************/
/*******************************/

#sobre {
            padding: 20px;
            border-collapse: collapse;
            width: 50%;
            margin: auto;
            text-align: left;
            background: rgba(76, 175, 80,0.6);
            min-height: auto;
        }

/****cadastroCandidato.html*****/
/*******************************/

#cadCand {
            padding: 20px;
            border-collapse: collapse;
            width: 50%;
            margin: auto;
            text-align: left;
            background: rgba(76, 175, 80,0.6);
            min-height: auto;
        }