*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

maxWidth{
    width: 1300px;
    margin: auto;
}

body{
	background: url("") no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 2000px;
}

/*********Top menu*************/
/******************************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(97, 97, 97,0.9);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(76, 175, 80,0.6);
}

.active {
    background-color: rgba(76, 175, 80,0.6);;
}

/******templateCandidato.html*******/
/***********************************/

#main {
            border-collapse: collapse;
            width: 50%;
            margin: auto;
            text-align: left;
            background: rgba(76, 175, 80,0.6);
            min-height: auto;
        }

#main img{
    float: right;
}
/******sobre.html***************/
/*******************************/

#sobre {
            padding: 20px;
            border-collapse: collapse;
            width: 50%;
            margin: auto;
            text-align: left;
            background: rgba(76, 175, 80,0.6);
            min-height: auto;
        }

/****cadastroCandidato.html*****/
/*******************************/

#cadCand {
            padding: 20px;
            border-collapse: collapse;
            width: 50%;
            margin: auto;
            text-align: left;
            background: rgba(76, 175, 80,0.6);
            min-height: auto;
        }