*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

.maxWidth{
    max-width: 1300px;
    margin: auto;
}

html, body{
    height: 100%;
}

/* ================ */
/* ===== MENU ===== */
/* ================ */

nav#menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

nav#menu img{
    height: 50px;
    margin: 0 0 0 40px;
}

nav#menu ul {
    display: flex;
    margin: 0 40px 0;
}

nav#menu li {
    margin: 0 20px; 
    height: 100%;
}

nav#menu li a {
    color: black;
    height: 100%;
}

nav#menu li a:hover:not(.active) {
    background-color: rgba(76, 175, 80,0.6);
}

nav#menu .active {
    background-color: rgba(76, 175, 80,0.6);;
}

/* ================= */
/* ===== INDEX ===== */
/* ================= */

section.contentIndex{
    height: auto;
    min-height: calc(100% - 80px);
    min-width: 980px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between; 
}

/* ===== MENU ===== */

nav.menuIndex {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

/* ===== SOBRE ===== */

article.sobre{
    width: 49.9%;
    min-height: 550px;
    display: flex;
    align-items: center;
}

article.sobre div{
    border-right: 1px solid rgba(0, 0, 0, .1);
    padding: 0 40px 0 20px;
}

article.sobre h1{
    font-size: 50px;
    font-weight: normal;
    text-align: right;
}

article.sobre h2{
    font-size: 24px;
    font-weight: normal;
    width: 400px;
    margin: 0 0 40px;
    text-align: right;
    float: right;
    clear: both;
}

article.sobre p{
    margin: 0 0 20px;
    font-size: 18px;
    text-align: justify;
    text-align-last: right;
    clear: both;
}

/* ===== ESTADOS INDEX===== */

nav.estadosIndex{
    width: 49.9%;
    min-height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 40px;
}

nav.estadosIndex h2{
    font-size: 20px;
    font-weight: normal;
    width: 400px;
}

nav.estadosIndex ul{
    width: 350px;
    margin: 30px 0 0;
}

nav.estadosIndex ul li{
    color: #0003AD;
    font-size: 16px;
    padding: 10px 30px;
    float: left;
}


/******templateCandidato.html*******/
/***********************************/

#main {
            border-collapse: collapse;
            width: 50%;
            margin: auto;
            text-align: left;
            background: rgba(76, 175, 80,0.6);
            min-height: auto;
        }

#main img{
    float: right;
}
/******sobre.html***************/
/*******************************/

#sobre {
            padding: 20px;
            border-collapse: collapse;
            width: 50%;
            margin: auto;
            text-align: left;
            background: rgba(76, 175, 80,0.6);
            min-height: auto;
        }

/****cadastroCandidato.html*****/
/*******************************/

#cadCand {
            padding: 20px;
            border-collapse: collapse;
            width: 50%;
            margin: auto;
            text-align: left;
            background: rgba(76, 175, 80,0.6);
            min-height: auto;
        }